
.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.images {
    margin-left: 30px;
    max-width: 200px;
    width: 60%;
    border: 5px solid orange;
    border-radius: 10px;
}

.app-li:last-child{
    width: 250px;
}

.app-li {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.title {
    font-size: 18px;
    font-weight: bold;
    color: #98B2D1;
}
.ul-data{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.data{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background: rgb(140, 140, 140);

}

.data-li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.data-title{
    margin-bottom: 10px;
}
.data-title, .data-p{
    font-size: 24px;
    width: 170px;
    background: lightblue;
    text-align: center;
    padding: 15px;
}

